$main-gray: #8c8a8d;
$main-pink-h: #d8a4e0;
$main-pink-c: #fbeefd;
$main-purpure: #7d4680;
$roundness: 15px;


@mixin font-regular {
    font-family: 'Manrope', sans-serif !important;
    font-weight: 400;
}

@mixin font-semibold {
    font-family: 'Manrope', sans-serif !important;
    font-weight: 600;
}

@mixin font-bold {
    font-family: 'Manrope', sans-serif !important;
    font-weight: 700;
}

@mixin shadow {
    box-shadow: 0 10px 15px rgba(40, 40, 40, .25);
}

@mixin button {
    color: $main-purpure;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-purpure;
    border-radius: $roundness;
    cursor: pointer;
}